[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/agray0909
[access "refs/for/refs/*"]
	read = group user/agray0909
	push = group user/agray0909
	label-Code-Review = -2..+2 group user/agray0909
	label-Verified = -1..+1 group user/agray0909
	rebase = group user/agray0909
	removeReviewer = group user/agray0909
	submit = group user/agray0909
[access "refs/heads/*"]
	read = group user/agray0909
	create = group user/agray0909
	push = +force group user/agray0909
	pushMerge = group user/agray0909
[access "refs/tags/*"]
	push = group user/agray0909
	push = +force group user/agray0909
